[submodule "libriccore"]
	path = Firmware/components/libriccore
	url = git@github.com:icl-rocketry/libriccore.git
[submodule "librnp"]
	path = Firmware/components/librnp
	url = git@github.com:icl-rocketry/librnp.git
[submodule "arduino"]
	path = Firmware/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "librrc"]
	path = Firmware/components/librrc
	url = git@github.com:icl-rocketry/librrc.git
[submodule "ArduinoJson"]
	path = Firmware/components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
